<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.icarus.lottery.infrastructure.dao.IUserTakeActivityDao">
    <resultMap id="userTakeActivityMap" type="cn.icarus.lottery.infrastructure.po.UserTakeActivity">
        <id column="id" property="id"/>
        <result column="u_id" property="uId"/><!--用户ID-->
        <result column="take_id" property="takeId"/><!--用户ID-->
        <result column="activity_id" property="activityId"/><!--活动ID-->
        <result column="activity_name" property="activityName"/><!--用户名称-->
        <result column="state" property="state"/>
        <result column="strategy_id" property="strategyId"/>
        <result column="take_date" property="takeDate"/><!--活动参与时间-->
        <result column="taken_count" property="takenCount"/><!--活动可参与次数-->
        <result column="uuid" property="uuid"/><!--防重ID-->
        <result column="create_time" property="createTime"/><!--创建时间-->
        <result column="update_time" property="updateTime"/><!--编辑时间-->
    </resultMap>

    <insert id="insert" parameterType="cn.icarus.lottery.infrastructure.po.UserTakeActivity">
        INSERT INTO user_take_activity
        (u_id, take_id, activity_id, activity_name, take_date,
         taken_count, strategy_id, state, uuid, create_time, update_time)
        VALUES
            (#{uId}, #{takeId}, #{activityId}, #{activityName}, #{takeDate},
             #{takenCount}, #{strategyId}, #{state}, #{uuid}, now(), now())</insert>

    <select id="queryNoConsumedTakeActivityOrder" parameterType="cn.icarus.lottery.infrastructure.po.UserTakeActivity" resultMap="userTakeActivityMap">
        SELECT take_id,activity_id, state,strategy_id
        from user_take_activity
        where activity_id=#{activityId} and u_id=#{uId} and state=0
        ORDER BY id DESC
            LIMIT 1
    </select>

    <update id="lockTackActivity" parameterType="cn.icarus.lottery.infrastructure.po.UserTakeActivity">
        update user_take_activity set state=1
        where u_id=#{uId} and activity_id=#{activityId}
    </update>




</mapper>

